
html, body {
    /* background: linear-gradient(to left, rgb(112, 101, 214), rgb(230, 106, 213)); */
    background-image: url(https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg);
    /* background-image: url(https://images.pexels.com/photos/3255761/pexels-photo-3255761.jpeg);  */

}
html {
    margin: 5px;
    padding: 0px;
    overflow-x: hidden;

}
img {
    height: 210px;
    width: 210px;
    border: 2px solid black;
    border-radius: 25px;
    
}
img:hover {
    box-shadow: 0 5px 20px 20px rgba(0, 0, 0, 0.14)
}
.icon, .icon:hover {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 0px;
    box-shadow: none
}
.thumbs {
    height: 125px;
    width: 125px;
    margin: 5px;
}
iframe {
    height: 90%;
    width: 100%;
    transform: scale(0.90);
    border-radius: 25px;
    box-shadow: 0 5px 20px 20px rgba(0, 0, 0, 0.14)
}
.morph {
    height: 30vw;
}
.card-body {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.card {
    min-width: 225px;
    min-height: 350px;
}
.about {
    text-align: justify;
}
.head {
    opacity: .5;
    min-height: unset;
}
#time {
    display: inline;
    margin-left: 10px;
}
.scroll {
    max-height: 100%;
}
.sc {
    overflow-y: scroll;
    max-height: 85px;
}

@media screen and (max-width: 1700px) {
    .thumbs {
        height: 100px;
        width: 100px;
    }
    .head {
        min-height: unset;
    }
}

@media screen and (max-width: 1400px) {
    .thumbs {
        height: 75px;
        width: 75px;
    }
    .icon {
        height: 30px;
        width: 30px;
        border: none;
        border-radius: 0px;
    }
    iframe {
        height: 150%;
        width: 200%;
        transform: scale(0.50);
        transform-origin: 0 0;
    }
    #description, .description {
        font-size: .7em;
    }
    .head {
        min-height: unset;
    }
}

@media screen and (max-width: 1400px) {
    .thumbs {
        height: 50px;
        width: 50px;
        border-radius: 10px;
    }
    .icon {
        height: 20px;
        width: 20px;
        border: none;
        border-radius: 0px;
    }
    iframe {
        height: 100%;
        width: 200%;
        transform: scale(0.50);
        transform-origin: 0 0;
    }
    #description, .description {
        font-size: .6em;
    }
    .head {
        min-height: unset;
    }
    .morph {
        height: unset;
    }
}

@media screen and (max-width: 575px) {
    .thumbs {
        height: 50px;
        width: 50px;
        border-radius: 10px;
    }
    .about {
        height: 200px;
        overflow-x: scroll;
        text-align: center;   
    }
    .card-header {
        text-align: left;
    }
    .card, .card-body, .col-sm-3 {
        min-height: 210px;
    }
    #description, .description {
        font-size: 1em;
        height: 200px;
        max-height: 110px;
        overflow-x: scroll;
        text-align: center;
    }
    .head {
        min-height: unset;
    }
    iframe {
       display: none;
    }
    br {
        display: none;
    }
}