div {
    background-color: goldenrod;
}
iframe {
    height: 200%;
    width: 200%;
    transform: scale(.50);
    transform-origin: 0 0;
    margin-bottom: 100px;
    padding: 0px;
}
img {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 25px;
}
p {
    background-color: palegoldenrod;
    border-radius: 25px;   
}
#head, #foot, #break, #header, #footer {
    margin: 0 auto;
    text-align: center;
    background-color: palegoldenrod;
}
#titles {
    text-align: center;
    font-weight: bold;
}
.icon {
    height: 20px;
    width: 20px;
}
.thumbs {
    height: 150px;
    width: 150px;
    margin: 5px;
}

/* Media Query For Mobile */
@media screen and (max-width: 550px) {  
    iframe {
        height: 550px;
        width: 250%;
        transform: scale(.25);
        transform-origin: 0 0;
        margin-bottom: 0px;
        padding: 0px;
        background-color: blue;
    }
    img {
        height: 50px;
        width: 50px;
        border: 1px solid black;
        border-radius: 25px;
    }
    .thumbs {
        height: 50px;
        width: 50px;
        margin: 0px;
    }   
    #description {
        font-size: 50%;
    }
    div {
        text-align: center;
    }

}

/*
@media screen and (max-width: 980px) {  
    section, .header_main {
        width: 700px;
        margin: auto;
    }
    .links {
        font-size: 25px;
    }
    p {
        font-size: 100%;
    
    }
}
@media screen and (max-width: 768px) {  
    section, .header_main  {
        width: 600px;
        margin: auto;
    }
    .links {
        font-size: 20px;
    }
    p {
        font-size: 90%;
    }
    img {
        height: 30%;
        width: 30%;
    }
}
@media screen and (max-width: 640px) {  
    section, .header_main  {
        width: 400px;
        margin: auto;
    }
    .links{
        font-size: 15px;
    }
    p {
        font-size: 80%;
    }
    img {
        height: 30%;
        width: 30%;
    }
}
/*
Make the layout match the following screenshots:
index.html: 980px, 768px, 640px
portfolio.html: 980px, 768px, 640px
contact.html: 980px, 768px, 640px
*/